:root {
    --primario: #6a66a3;
    --secundario: #3d4950;
    --blanco: #fffbf4;
    --negro: #000;
    --gris: #757575;
    --fuentePrincipal: "Staatliches", cursive;
    --grisclaro: #dfe9f3;
    --carta: #e3ebf3;
    --carta_sombra: #e8eef4;
    --luz: https://cdn.pixabay.com/photo/2015/11/01/15/38/the-background-1017060_960_720.jpg;
    --noche: https://img.freepik.com/premium-vector/carbon-fiber-texture-background_107708-13.jpg;
}
/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    padding-bottom: 4em;
    min-height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: var(--fuentePrincipal), sans-serif;
    background: linear-gradient(0deg, var(--grisclaro) 0%, var(--blanco) 100%)
        no-repeat;
}
p{
    text-align: center;
    }
/** Tipografia**/
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
/** Utilidades */
.center {
    text-align: center;
}
.titulo {
    font-size: 3.8rem;
    color: var(--primario);
}
/** Navegacion-principal */
.logo {
    display: flex;
    align-items: center;
    height: 6.5rem;
}
.logo img {
    height: 5rem;
    margin-right: 1rem;
}

.header a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: var(--primario);
    justify-content: space-between;
    align-items: center;
}
.navegacion-principal a:hover {
    background-color: var(--blanco);
    color: var(--secundario);

    box-shadow: 0 0 1rem 1px var(--primario);
}
.navegacion-principal a{
    transition: ease 0.3s;
}

@media (max-width: 900px) {
    .header {
        display: flex;
        flex-direction: column;
        background-color: var(--secundario);
        align-items: center;
        min-height: 70px;
    }
    .navegacion-principal a {
        display: block;
        padding: 1rem;
    }
    footer{
        background-color: var(--secundario);
    }
}

/* Slidder */
/* grid */
.grid {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 900px) {
    .grid {
        margin: 3rem auto;
        max-width: 60%;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
@media (max-width: 768px) {
    .grid {
        margin: 3rem auto;
        max-width: 60%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
}

.producto {
    padding: 1rem;
    background-color: var(--carta);
    box-shadow: 0 0 1px var(--secundario);
    transition: ease 0.1s;
    border-radius: 1rem;
}
.producto:hover {
    box-shadow: 0 0 2rem 3px var(--primario);
}
.producto__imagen {
    width: 100%;
    box-shadow: 0 0 1px var(--secundario);

    border-radius: 1rem;
}
.producto a {
    text-decoration: none;
}
.producto__nombre,
.producto__texto {
    font-family: 'Arial Narrow', Arial,'Franklin Gothic Medium', sans-serif;
    text-transform: uppercase;
    line-height: 1.3;
    text-align: center;
    color: var(--primario);

    margin: 1rem;
}
.producto__nombre {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}
.producto__texto {
    letter-spacing: -2px;
    margin-bottom: 0px;
}
/* .soon {
    height: 170px;
} 
/* sobre mi */
.about__{
    margin: 1em ;
}
/* footer */
footer{
    padding: 0.5em 0;
    text-align: center;
    position: fixed;
    bottom:0;
    background: var(--secundario);
    width: 100%;
    color: var(--blanco);
}
@media (min-width: 900px) {
    footer{
        background-color: var(--primario);
    }
}

.mucho {
    padding: 0 1rem;
    font-size: 2rem;
 }
 
.tema{
    position: fixed;
    bottom: 0;
    margin-bottom: 4em;
    width: 300px;
    height: 20px;
    background: url(https://img.freepik.com/premium-vector/carbon-fiber-texture-background_107708-13.jpg);
    background: rgba(106, 102, 163, 0.4);
    clip-path: polygon(0 0, 93% 0, 100% 100%, 0 100%);
} 
